.timelineContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1e1e2d;
    border-radius: 10px;
    margin-bottom: 20px;
    overflow-x: auto;
}

.timelineGrid {
    display: grid;
    grid-template-columns: 150px repeat(10, 1fr);
    grid-template-rows: auto repeat(5, auto);
    gap: 0;
    width: 100%;
    border: 1px solid #303030;
    border-radius: 10px;
    background-color: #1e1e2d;
    color: #fff;
    position: relative;
}

.emptyCell {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    background-color: transparent;
}

.yearLabel {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    background-color: #2e2e2e;
    grid-row: 1 / 2;
    border-right: 1px solid #303030;
}

.categoryLabel {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    background-color: #2e2e2e;
    grid-column: 1 / 2;
    border-bottom: 1px solid #303030;
}

.yearCategory {
    position: relative;
    border-left: 1px solid #303030;
    border-bottom: 1px solid #303030;
}

.timelineItem {
    position: absolute;
    left: 0;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    flex-direction: column;
}

.timelineContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    background: #2a2a3b;
    color: #fff;
    padding: 0px 10px;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    font-size: 0.9rem;
    margin-left: 10px;
    z-index: 1;
}

.timelineText {
    margin: 0;
    font-size: 0.9rem;
}

.timelineTime {
    font-size: 0.75rem;
    color: #aaa;
    margin-top: 5px;
}

.timelineLine {
    width: 2px;
    background-color: #aaa;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
}
